{% extends 'layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong> {{ message }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor%}
{% endif %}
{% endwith %}


<form action="/add_contact" method="POST">
    <input type="text" name="fullname" placeholder="fullname"> 
    <input type="number" name="phone" placeholder="Phone">
    <input type="text" name="email" placeholder="Email">
    <button type="submit">
        save
    </button>
</form>

<table>
    <tr>
        <td>fullname</td>
        <td>phone</td>
        <td>email</td>
        <td>Operaciones</td>
    </tr>

    <tbody>
        {% for c in contacts %}
        <tr>
            <td>{{c.0}}</td>
            <td>{{c.1}}</td>
            <td>{{c.2}}</td>
            <td> 
                <a href="/edit/{{c.3}}" class="btn btn-secundary">Edit</a>
                <a href="/delete/{{c.3}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}